.mensajeDesifrado-container {
    margin-left: 4%;
    display: flex;
    justify-items: center;
}

.mensaje{
    text-align: center;
    background: #FFFFFF;
    background-image: url(Muñeco.png);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 24px;
    /* margin-left: 98px;
    margin-top: 20px;
    padding-top: 20px; */
    padding-bottom: 20px;
    position: fixed;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    position: absolute;
    height: 78%;
    padding: 1rem;
}

.mensaje:focus {
    outline: none;
}



.botonCopiar{
    position: fixed;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;   
    cursor: pointer;
    height: 67px;
    margin-left: 14px;
    margin-top: 41.5%;
    position: absolute;
    width: 336px;
    font-size: 16px;
}

/* Estilos para Tablets */

@media only screen and (max-width: 768px) {
    .mensajeDesifrado-container {
        margin: 0;
        display: flex;
        justify-content: center;
    }

    .mensaje {
        width: 90%;
        margin-top: 40px;
        height: auto;
        background-image: none;
        font-size: 24px;
        border-radius: 24px;

    }


    .mensajeDesifrado-container div {
        display: flex;
        justify-content: center;

    }

    .botonCopiar {
        width: 40%;
        margin-left: 0;
        /* position:fixed; */
        margin-top: 35%;
    }

}

/* Estilos para celulares */

@media only screen and (max-width: 480px) {
    .mensajeDesifrado-container{
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        }

    .botonCopiar {
        margin-left: 0;
        margin-top: 70%;
        width: 77%;
        background-color: #FFFFFF;

    
    }


    .mensaje ::placeholder{color: #000;}
    
    .mensaje{
        padding: 10% 8%;
        width: 75%;

}
    
}